body {
    background-image: url(https://besthqwallpapers.com/Uploads/11-4-2019/87105/thumb2-used-car-tires-4k-car-tires-rubber-wheels-tires-texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


header{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}


nav {
    color:red;
    display: inline-flex;
}


nav img {
    width: 140px;
    padding: 10px;
}

ul { 
    padding-left: 10px;
    padding-top: 10px;
   
    position:absolute;
    top: 55px;
    left: 200px; 
    height: 50px; 
}


ul li {

    background-image: url(https://fondosmil.com/fondo/34576.jpg);
    background-size: cover;
    background-position-y: -25px;
    padding: 5px 25px 40px 35px;
    display:inline-block;
    margin-left: 40px;
    margin-right: 40px;


    font-family: asass ;
    font-size: 30px;
    font-weight:900;
    font-variant: small-caps;
}

section{
  background-color: rgba(255, 250, 250, 0.589);
}

footer {
    background-color: black;
    color: white;
    display: inline-flex;
    width: 100%;

}

#direc{
    background-color: black;
    display: inline-flex;
}

#direc h3 {
    margin-left: 15px;
}

#redes{

    background-color:unset;
    color: white;

    display: inline-flex;
    position: absolute;
    bottom: -135px;
    right: 30px;

}

#redes div{
    padding:20px;
    border-style: double;
    border-color: white;
}
